body {  
  background: #1D1F20;
  padding: 16px;
  margin:0;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 30vh;
  width: 80vw;
}

canvas {
  border: 1px dotted red;
}
h1{
	display: inline-block;
}

ul{
	float:right;
	margin-right: 50px;
	font-size: 20px
	list-style-type:none;
}

li{
	float: left;
	color: white;
	padding-left: 10px;
	list-style-type:none;

}


